.container-fluid{
  padding: 0;
}

.nav {
  background-color: #211431;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
}

.nav-pills .nav-link {
  color: #FFFFFF;
  background-color: #211431;
  border-radius: 1rem;
  margin-right: 0.25rem;
}

.nav-pills .nav-link:hover {
  background-color: #211431;
  color: #ff9e33;
}

.nav-pills .nav-link.active {
  background-color: #ff9e33 !important;
  color: #000000 !important;
}

.flag-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flag-grid .btn-flag {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 10px;
  width: 40%;
  /* roughly 3 per row */
  display: flex;
  justify-content: center;
}

/* Disable any hover/focus highlight on .btn-flag */
.flag-grid .btn-flag:hover,
.flag-grid .btn-flag:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.country {
  font-weight: 700;
}
.bg-purple {
  background-color: #211431 !important;
  color: #FFFFFF !important;
}
.table-container {
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}